# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Env
.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/